@import "tailwindcss";

@keyframes ticker {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(110%);
  }
}

.animate-ticker {
  animation: ticker 25s linear infinite;
}

@keyframes reverse-ticker {
  from {
    transform: translateX(110%);
  }

  to {
    transform: translateX(-150%);
  }
}

.animate-ticker-reverse {
  animation: reverse-ticker 25s linear infinite;
}